*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
.nav-item{
   border:1px solid white;
   margin:5px;
   border-radius:2px;
}
.nav-item:hover{
    background-color: rgba(255,255,255,0.5);
}
.banner{
    background: url(./image/p1.webp);
    height:60vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.head>h1{
    font-size:50px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0);
    
}
.head>p{
    font-size:18px;
}
.card-body{
    background-color: rgb(237, 241, 241);
}
.banner1{
    background: url(./image/m3.jpg);
    height:40vh;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 50px;

}
.buttn{
    margin-left: 300px;
    
}
.banner2{
    background: url(./image/m2.webp);
    height:70vh;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 50px;

}
.p1{
    background-color:rgba(255,255,255,0.5);
    padding:25px;
    border-radius: 3px;
}
.card{
    border-radius: none;
}
.form-control {
    background-color: rgba(124, 117, 117, 0.5);
    border: none;
    border-radius: 5px;
}
.form-control:focus {
    box-shadow: none;
}
.b1{
    margin-top:15px;
    padding-left:100px;
   
}
.service>h1{
    font-size:40px;
    text-shadow: 2px 2px 3px rgb(197, 193, 193);

}
.contact-form>h1{
    font-size:40px;
    text-shadow: 2px 2px 3px rgb(8, 8, 8);

}